h1{
    
    font-size: 60px;
    text-align: center;
     color :blue;
    font-family:"Garamond"
    
}
h2{
    text-align:center;
    font-size:12px;
}
body

{

    background-image: url(JeromeLouis.github.io/css/bckgnd.jpg);
	background-size: cover;

}
